<nav class="ui blue menu">
  <header class="header item"> <a href="/home"> Hardware Tracker </a> </header>
  <div class="right menu">
    <a class="item" href="/showAllEmployees">Employee</a>
    <a class="item" href="/device">Device</a>
    <a class="item" href="/">Home</a>
  </div>
</nav>