{{> menu }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui four wide column">
      <img src="images/nf1.jpg" class="ui centered medium image">
    </div>
    <div class="ui twelve wide column">
      <div class="ui basic padded segment">
        <h1 class="ui blue header">Hardware Tracker</h1>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui four wide column">
    </div>
    <div class="ui four wide column">
      <form class="ui fluid form" action="/employee" method="GET">
        <button class="ui fluid blue basic submit button">Add an Employee</button>
      </form>
    </div>
    <div class="ui four wide column">
      <form class="ui fluid form" action="/device" method="GET">
        <button class="ui fluid blue basic submit button">Add a Device</button>
      </form>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui four wide column">
    </div>
    <div class="ui four wide column">
      <form class="ui fluid form" action="/showAllEmployees" method="GET">
        <button class="ui fluid blue basic submit button">Display all Employees</button>
      </form>
    </div>
    <div class="ui four wide column">
      <form class="ui fluid form" action="/showAllDevices" method="GET">
        <button class="ui fluid blue basic submit button">Display all Devices</button>
      </form>
    </div>
  </div>

</section>