{{> menu }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui four wide column">
      <img src="images/nf1.jpg" class="ui centered medium image">
    </div>
    <div class="ui twelve wide column">
      <div class="ui basic padded segment">
        <h1 class="ui blue header">Hardware Tracker</h1>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two wide column">
    </div>
    <div class="ui six wide column">
      <form class="ui fluid form" action="/employee" method="GET">
        <button class="ui fluid blue basic submit button">Add an Employee</button>
      </form>
    </div>
    <div class="ui six wide column">
      <form class="ui fluid form" action="/device" method="GET">
        <button class="ui fluid blue basic submit button">Add a Device</button>
      </form>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two wide column">
    </div>
    <div class="ui six wide column">
      <form class="ui fluid form" action="/showAllEmployees" method="GET">
        <button class="ui fluid blue basic submit button">Display all Employees</button>
      </form>
    </div>
    <div class="ui six wide column">
      <form class="ui fluid form" action="/showAllDevices" method="GET">
        <button class="ui fluid blue basic submit button">Display all Devices</button>
      </form>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two wide column">
    </div>
    <div class="ui six wide column">
      <form class="ui blue fluid form segment" action="/employeesearch" method="POST">
        <div class="field">
          <label>Find Employee by email</label>
          <input type="text" name="email" placeholder="employee email">
        </div>
        <button class="ui fluid blue submit button">Find employee</button>
      </form>
    </div>
    <div class="ui six wide column">
      <form class="ui blue fluid form segment" action="/deviceType" method="POST">
        <label><strong>Display devices by type</strong></label>
        <div class="ui fluid selection dropdown type">
          <input type="hidden" name="type">
          <i class="dropdown icon"></i>
          <div class="default text">Type</div>
          <div class="menu">
            <div class="item" data-value="laptop">Laptop</div>
            <div class="item" data-value="monitor">Monitor</div>
            <div class="item" data-value="keyboard">Keyboard</div>
            <div class="item" data-value="mouse">Mouse</div>
            <div class="item" data-value="macmini">Mac Mini</div>
            <div class="item" data-value="other">Other</div>
          </div>
        </div>
        <br>
        <button class="ui fluid blue submit button">Submit</button>
      </form>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two wide column">
    </div>
    <div class="ui twelve wide column">
      {{> formerror }}
    </div>
  </div>

</section>

<script>$('.ui.selection.dropdown.type').dropdown()</script>